<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>MV API index</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<script src="/js/index.js"></script>
</head>
<body>
	<h2>List of api URLs</h2>

	<ul>
		{{#each routes}}
		<li>{{{link this}}}</li>
		{{/each}}
	</ul>

	<div class="cpanel">

		<!-- {{actionTmpl}} -->
		{{{select baseRoutes}}}
		{{{select serverList}}}

		<input id="updateFile" type="button" name="" value="update Files">
	</div>
	<div class="console"></div>


</body>
</html>